<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Fair Election</title>

  <!--Google Fonts-->

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,900;1,200&family=Ubuntu:wght@500;700&display=swap"
    rel="stylesheet">
  <!--Fonts end  -->

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!--JS for Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
  <!-- end -->

  <!-- CSS -->
  <link rel="stylesheet" href="/css/indexStyles.css">

  <!-- Font Awesomne -->
  <script src="https://kit.fontawesome.com/fd078d039f.js" crossorigin="anonymous"></script>


</head>

<body>

  <section id="title">
    <!-- Nav Bar -->
    <div class="container-fluid">
      <nav class="navbar  navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="">FairElection</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--Added justify-content-end class to navbar for ml-auto to work-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" >
              <a class="nav-link"  href="latest">Latest</a>
            </li>
            <% if(typeof user != 'undefined'){  %>
                <button class="button-special"><a href="/"><%= user.name %></a></button>
                <button class="button-special"><a href="/logout">Logout</a></button>
            <% }else { %>
                <button class="button-special"><a href="/formlogin">Login</a></button>
				        <button class="button-special"><a href="/formregister">Register</a></button>
            <% } %>
          </ul>
        </div>
      </nav>

      <!-- Title -->

      <div class="row">
          <h1 class="main_heading">Having trust issues with the election process? <br> This is your solution</h1>

      </div>
    </div>
  </section>


  <!-- Features -->

  <section id="features">

    <div class="row">
      <div class="col-lg-4 feature-row">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Just report anything suspicious and we will handle the rest</h3>
      </div>
      <div class="col-lg-4 feature-row">
        <i class="icon fas fa-users-slash fa-4x"></i>
        <h3 class="feature-title">Non Exploitable</h3>
      </div>
      <div class="col-lg-4 feature-row">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Help the society.</h3>
      </div>
    </div>

  </section>

  <!-- cta
  <section id="cta">

    <h3>See Something Fishy , <span style = "color:red;text-decoration: underline;">Report Now.</span></h3>
    
    <button type = "button" class = "btn btn-lg btn-outline-dark download-button" title ="See what's happening "> 
      <i class = "fas fa-newspaper"></i>
      <a href="latest">Latest</a>
    </button>

    <button type="button" class="btn  btn-lg btn-outline-dark download-button" title = "Report it before it's too late!">
      <i class="fas fa-bug"></i>
      <a href="report" id="button">Report</a>
    </button>

  </section> -->

  <!-- Testimonials -->

  <!-- <section id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">
            "ELectionEasy is really a powerful tool and has significantly reduced the corruption in elections"
          </h2>
          <img class="testimonial-image" src="Resources/Images/bizinsider.png" alt="News agency 1">

        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">"We have more trust on ElectionEasy than our reporting , though it's 100% accurate! " </h2>
          <img class="testimonial-image" src="Resources/Images/mashable.png" alt="News Agency 2">

        </div>
      </div>

      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a> -->

    </div>

  </section>


  <!-- Footer -->

  <footer id="footer">

    <i class="social-icon fab fa-facebook-f fa-2x" role = "button" title = "NA"></i>
    <i class="social-icon fab fa-instagram fa-2x" role = "button" title = "NA"></i>
    <i class="social-icon fab fa-twitter fa-2x" role = "button" title = "NddfaA"></i>
    <i class="social-icon fas fa-envelope fa-2x" role = "button" title = "NA"></i>
    <p class="footer-text">© Copyright 2023 Made by Prerit</p>

  </footer>


</body>

</html>
